body{
    font-family: tahoma;
    background-color: #d0d8e4;
}

.container{
    width: 800px;
    margin: auto;
    min-height: 400px;
}

.container__profile{
    background-color: white; 
    text-align: center; 
    color: #405d9b;
}

.profile__image{
    font-style: 12px;
}

.blue_bar{
    height: 50px;
    background-color: #405d9b;
    color: #9ddfeb;
}

.profile_pic{
    width: 150px;
    margin-top: -200px;
    border-radius: 50%;
    border: solid 2px white;
}

.btn__change__image{
    text-decoration: none; 
    color: #0ff;
}

.profile__details{
    font-size: 20px;
}

.menu_buttons{
    width: 100px;
    display: inline-block;
    margin: 2px;
}

.content{
    display: flex;
}

.container__friends{
    min-height: 400px; 
    flex: 1;
}

.friends_img{
    width: 75px;
    float: left;
    margin: 8px;
}

.friends_bar{
    background-color: white;
    min-height: 400px;
    margin-top: 20px;
    color: #aaa;
    padding: 8px;
}

.friends{
    clear: both;
    font-size: 12px;
    font-weight: bold;
    color: #405d9b;
}

.container__posts{
    min-height: 400px; 
    flex: 2.5; 
    padding: 20px; 
    padding-right: 0px;
}

.post__form{
    border: solid thin #aaa; 
    padding: 20px; 
    background-color: white;
}

textarea{
    width: 100%;
    border: none;
    font-family: tahoma;
    font-size: 14px;
    height: 50px;
}

.post_button{
    float: right;
    background-color: #405d9b;
    border: none;
    color: white;
    padding: 4px;
    font-size: 14px;
    border-radius: 2px;
    width: 50px;
}

.post_bar{
    margin-top: 20px;
    background-color: white;
    padding: 10px;
}

.post{
    padding: 4px;
    font-size: 13px;
    display: flex;
    margin-bottom: 20px;
}

.header{
    width: 800px;
    margin: auto; 
    font-size: 30px;
}

.logout__button{
    font-size: 11px; 
    float:right; 
    margin:10px; 
    color: white;
}